$primary-color: grey;

footer {
  background-color: $primary-color;
<<<<<<< Updated upstream
}

header {
    background-image: url("images/Background_image_edited.png");
=======
  padding: 0.25rem;
}

#textoFooter {
    text-align: center;
>>>>>>> Stashed changes
}