$primary-color: grey;
$second-color: white;


footer {
  background-color: $primary-color;
  padding: 0.25rem;
  text-align: center;
}

$header-color: white;
$font-stack: Avenir;
header {
    background-image: url("images/Background_image_edited.png");
    color: $header-color;
}

nav {
    display: flex;
    justify-content: space-between; 

    ul {
        display: flex;
        padding-right: 5rem;
        padding-top: 1rem;
        align-items: left;
        list-style: none;
    }

    li {
        padding-right: 1rem;
    }

    #logo{
        padding-top: 1rem;
        padding-left: 1rem;
        width: 6rem;
        height: 1.4rem;
    }
}

h1 {
  padding-top: 4rem;
  padding-left: 3rem;
  font-family: $font-stack;
}

h2 {
    padding-left: 3rem;
    padding-bottom: 8rem;
    font-family: $font-stack;
  }
  
  button {
    border-radius: 50px;
    color: white;
    background-color: orangered;
    margin: 5% 5% 5% 5%;
    width: 160px;
    height: 35px;
}

#fondoGris {
  background-color: grey;
}