$primary-color: grey;
$second-color: white;

footer {
  background-color: $primary-color;
  padding: 0.25rem;
  text-align: center;
}

$header-color: white;
header {
    background-image: url("images/Background_image_edited.png");
    color: $header-color;
}


